name: PR

on:
  pull_request:
    types: [opened, reopened, synchronize]

permissions:
  contents: read

jobs:
  soundness:
    name: Soundness
    uses: swiftlang/github-workflows/.github/workflows/soundness.yml@main
    with:
      license_header_check_project_name: "Swift Cassandra Client"
      api_breakage_check_enabled: false

  unit-tests:
    name: Unit tests
    uses: ./.github/workflows/unit_tests.yml
    with:
      linux_5_10_arguments_override: "--explicit-target-dependency-import-check error -Xswiftc -strict-concurrency=complete"
      linux_6_0_arguments_override: "--explicit-target-dependency-import-check error"
      linux_6_1_arguments_override: "--explicit-target-dependency-import-check error"
      linux_nightly_next_arguments_override: "--explicit-target-dependency-import-check error"
      linux_nightly_main_arguments_override: "--explicit-target-dependency-import-check error"

  cxx-interop:
    name: Cxx interop
    uses: apple/swift-nio/.github/workflows/cxx_interop.yml@main

  macos-tests:
    name: macOS tests
    uses: apple/swift-nio/.github/workflows/macos_tests.yml@main
    with:
      build_scheme: swift-cassandra-client
      swift_test_enabled: false  # requires running Cassandra server
      watchos_xcode_build_enabled: false  # posix API availability
      tvos_xcode_build_enabled: false  # posix API availability
      runner_pool: general

  static-sdk:
    name: Static SDK
    uses: apple/swift-nio/.github/workflows/static_sdk.yml@main

  release-builds:
    name: Release builds
    uses: apple/swift-nio/.github/workflows/release_builds.yml@main
